<% layout("/layouts/boilerplate") %>
<script>
    let mapToken = "<%= process.env.MAP_TOKEN %>";
    let listing = <%- JSON.stringify(listing) %>;
  </script>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2 mb-2">
    <h3><%= listing.title %></h3>
    </div>
    <div class="card col-6  show-card">
        <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_img">
        <div class="card-body">
          <p class="card-text"><i>Owned by <%= listing.owner.username %></i></p>
          <p class="card-text"><%= listing.description %></p>
          <p class="card-text">&#8377; <%= listing.price.toLocaleString("en-IN") %> / night</p>
          <p class="card-text"><%= listing.location %>, <%= listing.country %></p>  
           
        </div>
        <% if (currUser && currUser._id.equals(listing.owner._id)) { %>
        <div class="btns mb-3">
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark  edit-btn ms-2">Edit</a>
            <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                <button type="submit" class="btn btn-dark offset-5">Delete</button>
            </form>
        </div>
        <% } %>
        <br><hr>
    </div>  
    
    <!-- Review portion   -->
    <div class="col-8 offset-2 mb-2">
        <% if(currUser){ %>
        <h4>Leave a Review</h4>
        <form action="/listings/<%= listing._id %>/reviews" method="post" novalidate class="needs-validation">
            <div class="mb-3 mt-3">
                
                
                <label for="rating" class="form-label">Rating</label><fieldset id="rating" class="starability-slot form-control align-center">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>
                
            </div>
              
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comment</label>
                <textarea type="text" name="review[comment]" id="comment" rows="5" cols="30" class="form-control" placeholder="write some comment here" required ></textarea>
                <div class="valid-feedback">
                    Comment looks good!
                </div>
                <div class="invalid-feedback">
                   Please add some comment for review
                </div>
            </div>
            <button type="submit" class="btn btn-outline-dark mb-2">Submit</button>
        </form>
        <hr>
        <% } %>
        <% if(listing.reviews.length > 0) { %>
        <figure class="text-start row">
            <blockquote class="blockquote">
              <p>All Reviews</p>
            </blockquote>
          </figure>

    <div class="row">
        <% for (const review of listing.reviews) { %>
            <div class="card col-5 ms-3 mb-3">
                <h5 class="card-title">@<%= review.author.username %> &nbsp;&nbsp; <span class="badge text-bg-primary rounded-pill"><%= review.rating %> &#9956;</span></h5>
                <p class="card-text"><%= review.comment %></p>
                <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="post"><button type="submit" class="btn btn-dark mb-2">Delete</button></form>
            </div>
        <%} %>
    </div> 
    <% } %>  
    <div class="col-9 mb-2">
        <label for="map">Where you'll be</label>
        <div id="map"></div>
    </div> 
</div>
<script src="/js/map.js"></script>

</body>